<p>View the invoices for customers</p>

<table border="1" cellpadding="5" cellspacing="5">
  <tr>
    <th>Name</th>
    <%["July","Aug","Sept","Oct","Nov","Dec","Jan","Feb","March"].each do |tt| %>
    <th><%= tt %></th>

    <% end %>
  </tr>
 
  <% @customers.each do |customer| %>
    <% client = Hash[:billing_name => customer["name"], :billing_address => customer["address"], :billing_gstid => customer["gstid"], :quantity => customer["machine_count"], :rate => customer["plan"]] %>
      
    <tr>
      <td><%= customer["name"] %></td>
      
      <% [7,8,9,10,11,12,1,2,3].each do |month|%>
      <td>
      <% @invoices.where(:billing_name => customer["name"], :month => month).map { |e| e.invoice_number }.each do | m | %>
      <%= link_to "#{ m },", edit_invoice_path(Invoice.where(:invoice_number => m).first.id) %>
      <% end %>
      </td>
      <%  end %>
      

      </tr>
  <% end %>
</table>
