<h3>Input Invoice Details Here</h3>

<div class="panel panel-primary">
  <div class="panel-heading">Simple Form: Basic Form</div>
    <div class="panel-body">
		<div class="container">
			<%= render 'invoice_form'%>
		</div>
	</div>
 </div>
<BR>

<%= link_to "Home Page" , invoices_path %>	