<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
This Application is meant for invoicing for Aura , We can generate pdfs and all through this application through wicked pdf
</p>
